body {
  background-repeat: repeat-x;
  background-color: #171717;
  background-image: url(/bundles/app/img/background.png);
}

#content {
  margin-top: 80px;
  margin-bottom: 20px;
}

.page-header {
  margin-top: 0px;
  border-bottom: 1px solid #C2CCD1;
}

.help-block {
  font-size: 14px;
}

.uppercase {
  text-transform: uppercase;
}

#nav-socials {
  margin-top: 10px;
  margin-right: 20px;
}

#home-list-engines {
  h1, h2, h3 {
    font-size: 20px;
    text-transform: uppercase;
  }
}

.container .jumbotron,
.container-fluid .jumbotron {
  padding-top: 10px;
  padding-bottom: 10px;
  h1 {
    font-size: 45px;
  }
}

#footer {
  .well {
    margin-bottom: 0px;
    padding: 10px;
    text-align: center;
    font-size: 13px;
  }
}
