{% extends '::base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h1>Bienvenue sur Mapping-Area</h1>
                <p>Envie d'apprendre à créer vos propres cartes pour des jeux tels que counter-strike: global offensive ? Team Fortress 2 ? ... etc</p>
                <p>Vous trouverez sur Mapping-Area les nombreux tutoriels archivés, écrits par la communauté au fil des 10 dernières années.</p>
                <p>Il ne vous reste plus qu'à lancer votre logiciel préféré, Hammer Valve Editor !</p>
            </div>
            <div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div>
        </div>
    </div>
    <div class="row" id="home-list-engines">
        {% for engine in engines %}
            <div class="col-md-3">
                <div class="well">
                    <h2 class="page-header"><a href="{{ path('engine_list', {'slug': engine.slug}) }}" title="{{ engine.name }}">{{ engine.name }}</a></h2>
                    <p>{{ engine.description }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
